/* можеш да добавиш стилове само за React-компонентите */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

section {
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
